[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "{python_version}"

[packages]

[dev-packages]
{{cookiecutter.project_module}} = {editable = true,path = "."}
black = "==19.3b0"
pylint = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-sugar = "*"
pytest-xdist = "*"
